<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.innky.bootproj.mapper.ArticleMapper">
    <insert id="addArticle">
        insert into article set title=#{title}, lastModificationTime=#{lastModificationTime},content=#{content},dirId=#{dirId};
    </insert>
    <delete id="deleteArticle">
        delete from article where title=#{title} and dirId=#{dirId}
    </delete>


    <select id="getAllArticle" resultType="xyz.innky.bootproj.pojo.Article">
        select * from article
    </select>
    <select id="getRecentArticles" resultType="xyz.innky.bootproj.pojo.Article">
        select id, title, lastModificationTime from article order by lastModificationTime desc limit #{len};
    </select>
    <select id="getArticle" resultType="xyz.innky.bootproj.pojo.Article">
        select id,title, content, lastModificationTime from article where article.id =#{aid}
    </select>

</mapper>